* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  cursor: default;
  scroll-behavior: smooth;
}

.splash {
  position: absolute;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Kanit', sans-serif;
  font-size: 1rem;
  z-index: 100;
  /* transition: animation 2s; */
}

.logo-splash {
  animation: splashIn 0.5s ease-out forwards;
}

.splashOut {
  display: none;
  height: 0;
  width: 0;
  visibility: hidden;
}

.hidden {
  display: none !important;
}

@keyframes splashIn {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(5);
  }
}
/* 
.app-blur {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.8);
  background-blend-mode: soft-light;
  z-index: 1000;
} */

/* App pane */

.app-pane {
  grid-column-start: 2;
  grid-column-end: 4;
}

ul {
  display: block;
  margin: 0;
  padding: 0;
}

.user_posts_pg {
  display: flex;
}
.usr_post-cat {
  padding: 1rem 0 1rem 0;
  display: flex;
  flex: 1;
  font-size: 1rem;
  justify-content: space-evenly;
  border-bottom: rgb(239, 243, 244) solid 0.1rem;
}

.usr_post-cat-button {
  /* display: block */
  padding: 0 1rem 0 1rem;
  background: rgb(239, 243, 244);
  border: solid 0.01rem grey;
  color: black;
  border-radius: 10rem;
  text-align: center;
}

.usr_post-cat-button:hover {
  background: cornsilk;
  color: darkgrey;
  /* border-color: cornsilk; */
}

.active-cat-button {
  background: rgb(255, 200, 0);
  color: white;
}

.usr_posts-container {
  display: flex;
  justify-content: center;
}
.usr_post__box {
  display: block;
  flex-basis: 50%;
  font-family: 'Readex Pro', sans-serif;
  font-size: 1rem;
  padding: 2.5% 5% 2.5% 5%;
  margin-bottom: 0.1rem;
  border: rgb(239, 243, 244) solid 0.1rem;
  border-top: 0;
  text-align: left;
}

.post__review {
  color: black;
  grid-column-start: 4;
  height: 2rem;
  width: 100%;
  font-size: 0.85rem;
  border: 0;
  background: whitesmoke;
  border-radius: 0.5rem;
}

.post__review:hover {
  background: whitesmoke;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
}

/* Modals */

.modals-wrapper {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  background-blend-mode: soft-light;
  z-index: 1000;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.profile__modal {
  display: block;
  padding: 1rem 1.5rem 1rem 1.5rem;
  padding: 1rem;
  height: 30rem;
  width: 60%;
  background: white;
  font-size: 1.3rem;
  border-radius: 1rem;
  /* box-shadow: 1px 2px 4px grey 1px 2px 4px grey; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  z-index: 10000;
}

.profile__modal > input {
  height: 1.5rem;
  border: 0;
}

.usr_prf-md-header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.usr_prf-md-head {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  flex: 2 1 0;
}

.usr_prf-md-head-border {
  height: 0.2rem;
  background: rgb(239, 243, 244);
  margin: 0.5rem 0 0 10%;
  width: 80%;
}

.cross-modal {
  font-weight: 400;
  height: 1.5rem;
  color: white;
  border-radius: 100rem;
  width: 1.5rem;
  background: rgb(200, 200, 200, 0.8);
  font-size: 1rem;
  cursor: pointer;
}

input[type='text'] {
  height: 1.5rem;
  border: grey solid 0.1rem;
  border-radius: 0.3rem;
}

.app-wrapper {
  width: 100vw;
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 1fr 1.5fr 1fr;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 1.5rem;
}

.nav {
  /* display: block; */
  justify-content: center;

  font-size: 1.1rem;
  font-weight: 800;
  color: rgb(62, 62, 62);
  border-right: rgb(239, 243, 244) solid 0.1rem;
}
.timeline {
  /* display: block; */
  overflow-y: scroll;
}
.city-mng {
  /* display: block; */
  border-left: rgb(239, 243, 244) solid 0.1rem;
}
.app-pane {
  grid-column-start: 2;
  grid-column-end: 4;
}

.nav__logo {
  cursor: pointer;
  margin: 0.5rem;
  font-size: 2.5rem;
  font-family: 'Kanit', sans-serif;
  font-weight: 800;
}
.m,
.u {
  color: coral;
}

.c,
.o {
  color: rgb(255, 200, 0);
}

.nav__options {
  font-weight: 800;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.nav__options:hover {
  background: rgba(240, 240, 240, 0.9);
  color: rgb(62, 62, 62);
}

.nav__profile {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;

  font-size: 1.25rem;
  margin-top: 3rem;
  padding: 1rem 20% 1rem 20%;
  font-weight: 600;
  border-radius: 0.5rem;
  color: rgb(75, 75, 75);
}

.nav__profile:hover {
  background: none;
}

.nav__profile__user-img {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  /* background: white; */
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 10rem;
  border: solid coral 0.15rem;
  background: coral;
  overflow: hidden;
}

.nav__profile__user-name {
  grid-column-start: 2;
  grid-row-start: 1;
  padding-top: 0.5rem;
  cursor: pointer;
  font-family: 'Readex Pro', sans-serif;
  color: rgb(80, 80, 80);
}

.nav__profile__user-loc {
  grid-column-start: 2;
  grid-row-start: 2;
  font-size: 0.85rem;
  cursor: pointer;
  color: rgb(110, 110, 110);
}

.nav__user-posts {
}
.nav__city {
}

.nav__city-dropdown {
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
}

.nav_cities-list {
  display: flex;
  width: 50%;
}

.select_nav_city {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  border-radius: 1rem;
}

.select_nav_city:hover {
  background: cornsilk;
}

.nav__city-dropdown > li {
  margin: 0;
  display: block;
  padding: 0;
}

.nav__city-dropdown:hover {
  background: white;
}

.active-dot {
  background: coral;
  height: 0.5rem;
  width: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 10rem;
}

.nav__buttons {
  display: flex;
  padding: 0.25rem 1rem 0.25rem 1rem;
  justify-content: center;
  align-items: center;
  margin-left: 22.5%;
  /* border: solid rgb(229, 229, 229); */
  border-radius: 5rem;
  height: 2.5rem;
  width: 55%;
  text-align: left;
}

.active-nav {
  background: rgb(255, 200, 0);
  color: white;
}

.active-nav:hover {
  background: rgb(255, 231, 145);
  color: white;
}

button.nav__post {
  cursor: pointer;
  width: 55%;
  height: 3rem;
  font-size: 1.15rem;
  font-weight: 700;
  color: white;
  background: coral;
  border: solid 0;
  border-radius: 5rem;
}

button.nav__post:hover {
  background: rgba(255, 127, 80, 0.9);
  color: rgb(240, 240, 240);
}

/*********** TIMELINE ***********/

::-webkit-scrollbar {
  width: 0.5rem;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0.1rem 0.1rem rgb(239, 243, 244);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(216, 218, 219);
  border-radius: 10rem;
}

.tl__banner {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 1;
  position: sticky;
  top: 0;
  border-bottom: rgb(239, 243, 244) solid 0.1rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.99);
  color: rgb(80, 80, 80);
  font-size: 1.25rem;
  font-weight: 800;
  padding: 0 5% 0 5%;
  align-items: center;
  z-index: 2;
  justify-content: space-between;
}

.tl__banner-text {
}

.post__box {
  font-family: 'Readex Pro', sans-serif;
  /* display: grid; */
  font-size: 1rem;
  padding: 2.5% 5% 2.5% 5%;
  margin-bottom: 0.1rem;
  border-bottom: rgb(239, 243, 244) solid 0.1rem;
  text-align: left;
}

.post__header {
  display: flex;
  text-align: left;
}

.tl-users-pf {
  border-radius: 10rem;
  margin-right: 1rem;
  height: 3rem;
}

.tl-users-info {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1;
  grid-template-rows: 0.25fr 1fr 1fr;
}

.tl-users-name {
  color: rgb(56, 56, 56);
  font-size: 1rem;
  grid-row-start: 2;
  font-weight: bold;
}

.tl-users-loc {
  color: rgb(110, 110, 110);

  grid-row-start: 3;
  font-size: 0.85rem;
}

.post__status {
  display: flex;
  justify-content: left;
  margin: 1rem 0 0 0;
  align-items: center;
  height: 1rem;
  color: lime;
  font-size: 0.9rem;
}

.post__text-field {
  margin: 1rem 0 0 0;
  display: flex;
  line-height: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.post__imgs--div {
  display: grid;
  max-height: 20rem;
  min-height: 15rem;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-gap: 0.2rem;
  border: rgb(219, 219, 219) solid 0.01rem;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  background: rgb(255, 255, 255);
  border-radius: 1.5rem;
  margin: 1rem 0 1rem 5%;
  width: 90%;
  overflow: hidden;
}

.post__img-counter {
  cursor: pointer;
  font-size: 3rem;
  color: white;
  background: radial-gradient(15rem, rgb(231, 120, 76), rgb(128, 54, 27));
  display: flex;
  justify-content: center;
  align-items: center;
}
.post__img-counter:hover {
  opacity: 0.85;
}
.post__img {
  height: 100%;
  object-fit: cover;
  object-position: left;
  width: 100%;
  /* z-index: 1; */
}

.post__img:hover {
  opacity: 0.85;
}

.post__foot {
  display: grid;
  font-size: 0.85rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 1rem;
}

.post__view {
  color: black;
  grid-column-start: 1;
  height: 2rem;
  width: 100%;
  font-size: 0.85rem;
  border: 0;
  background: whitesmoke;
  border-radius: 0.5rem;
}

.post__view:hover {
  background: whitesmoke;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
}

.post__like {
  background: whitesmoke;
  color: black;

  height: 2rem;
  width: 100%;
  font-size: 0.85rem;
  border: 0;
  border-radius: 0.5rem;

  padding: 0.2rem 1.5rem 0.2rem 1.5rem;
  display: flex;
  height: 2rem;
  justify-content: space-evenly;
  align-items: center;
  grid-column-start: 4;
}

.post__like:hover {
  background: rgb(229, 229, 229);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* padding: 0rem 1.3rem 0rem 1.3rem; */
  /* border: coral solid 0.2rem; */
}

.post__like-img {
  /* border: solid 0.2rem coral; */
  /* border-radius: 10rem; */
  height: 1rem;
}
/* 

.post__like-img-0:hover {
  border-radius: 10rem;
  height: 2rem;
  animation: like 0.3s ease-in;
  animation-fill-mode: forwards;
}

@keyframes like {
  0% {
    box-shadow: 0rem 0rem 20rem 0.1rem coral;
  }

  25% {
    box-shadow: 0rem 0rem 10rem 0.15rem coral;
  }

  50% {
    box-shadow: 0rem 0rem 5rem 0.2rem coral;
  }

  100% {
    box-shadow: 0rem 0rem 1rem 0.35rem coral;
  }
} */

/* *********** City Management **********/

.mucorp__header {
  margin-top: 5rem;
  padding: 0 1rem 1rem 1rem;
}

.mucorp__bg-img {
  height: 15rem;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.mucorp__ratings {
  margin-top: 1rem;
  font-size: 1.25rem;
  padding: 0.75rem 1rem 0.75rem 1rem;
  height: 10rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
